@font-face {
	font-family: QuizletFontBold;
	src: url("fonts/HurmeDesignBold.otf");
	}
@font-face {
	font-family: QuizletFontLight;
	src: url("fonts/HurmeDesignLight.otf");
	}

hr {
	height: 2px;
    background-color: #455358;
    border: none;
}
body { 
	font-family: QuizletFontBold, sans-serif;
	background: #FFF; margin: 0; padding: 0; }
      #message { background: white; max-width: 360px; margin: 100px auto 16px; padding: 32px 24px; border-radius: 3px; }
      #message h2 { color: #ffa100; font-weight: bold; font-size: 16px; margin: 0 0 8px; }
      #message h1 { font-size: 22px; font-weight: 300; color: rgba(0,0,0,0.6); margin: 0 0 16px;}
      #message p { line-height: 140%; margin: 16px 0 24px; font-size: 14px; }
      #message a { display: block; text-align: center; background: #039be5; text-transform: uppercase; text-decoration: none; color: white; padding: 16px; border-radius: 4px; }
      #message, #message a { box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); }
      #load { color: rgba(0,0,0,0.4); text-align: center; font-size: 13px; }

      #backgroundImageSignUp {
      	position: fixed;
	    height: 60%;
	    bottom: 0;
	    right: 0;
      }
    .quizletButton { 
    	background-color: #3ccfcf; 
    	color: #fff; 
    	padding: 0.75rem 1.5rem; 
      	cursor: pointer; 
      	font-family: QuizletFontLight, sans-serif;
      	min-width: 200px;
      	letter-spacing: 0.0625rem;
	    line-height: 1.333333333333333;
    }

    .quizletButton:hover { 
      	background-color: #ffcd1f;
    	color: #455358; 
    }

    textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
	    border-color: rgba(0,0,0,0);
	    box-shadow: 0 1px 1px rgba(0,0,0,0) inset, 0 0 8px rgba(0,0,0,0);
	    outline: 0 none;
	}

    .quizetTextInput {  
    	font-size: 20px;
    	background-color: transparent;
	    border: none;
	    border-radius: 0;
	    box-shadow: none;
	    color: #000;
	    cursor: text;
	    -webkit-flex: 1 1 auto;
	    -ms-flex: 1 1 auto;
	    flex: 1 1 auto;
	    white-space: pre-wrap;
	    width: 100%;
	    word-break: break-word;
	    margin-top: 40px;
	}

    .card { 
	    background: #fff;
	    height: 10rem;
	    padding: 1.25rem;
	    position: relative;
	    box-shadow: 0 0.3125rem 1rem 0 rgba(0,0,0,0.24);
	    clear:both;
	}

	.studentBox {
		border-radius: 4px;
		background-color: #ffffff;
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.24);
	    padding: 10px;
	    width: 40%;
	    color:#455358;
	    margin:20px 0;
	    overflow:auto;
	}

	.dot {
	    height: 10px;
	    width: 10px;
	    background-color: #23b26d;
	    border-radius: 50%;
	    display: inline-block;
	    float: right;
	}

	.distractedDot {
		background-color: #ff725b
	}

	.profilePic {
		float:left;
		margin-right:15px;
	}

	.distractedBox {
	    border-color: #ff725b;
	    border-width: 2px;
	    border-style: solid;
	}

	.studentListHeader {
		margin-top: 60px;
    	font-size: 18px;
    	color:#455358;
	}

	.quizletSubtitle {
		font-family: QuizletFontLight, sans-serif;
		color: #97a5aa;
	    display: block;
	    margin-top: 0rem;
	    text-align: inherit;
	    font-weight: 600;
	    font-size: 1rem;
	    letter-spacing: 0.0625rem;
	    line-height: 1.333333333333333;
	}

	#studentList li {
		font-size: 24px;
		margin:15px;
	}

	::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	    color: lightgray;
	    opacity: 1; /* Firefox */
	}

	:-ms-input-placeholder { /* Internet Explorer 10-11 */
	    color: lightgray;
	}


      @media (max-width: 600px) {
        body, #message { margin-top: 0; background: white; box-shadow: none; }
        body { border-top: 16px solid #ffa100; }
      }
